{% extends 'stocks/stock_prices.html' %}
{% load humanize %}

{% block title %}{{ block.super }} - Historical Stock Prices Analytics{% endblock title %}

{% block content %}
  {{ block.super }}
{% endblock content %}

{% block heading %}
  <h1>{{ stock }} Analytics</h1>
{% endblock heading %}

{% block delta %}
    <thead class="thead-light">
      <tr>
        <th scope="col">Delta</th>
        <th scope="col">&#9651; Open</th>
        <th scope="col">&#9651; High</th>
        <th scope="col">&#9651; Low</th>
        <th scope="col">&#9651; Close / Last</th>
        <th scope="col">&#9651; Volume</th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <td class="hidden"></td>
        <td>{{ object_list.last.delta_open }}</td>
        <td>{{ object_list.last.delta_high }}</td>
        <td>{{ object_list.last.delta_low }}</td>
        <td>{{ object_list.last.delta_close }}</td>
        <td>{{ object_list.last.delta_volume|intcomma }}</td>
      </tr>
    </tbody>
{% endblock delta %}

