{% extends 'base.html' %}
{% load humanize %}

{% block title %}{{ block.super }} - Insider Activity{% endblock title %}

{% block content %}

  <div class="row">
    <div class="col">
      <h1>{{ stock }} Insider Activity</h1>
      <table class="table table-bordered table-hover table-striped table-sm">
        <thead class="thead-light">
          <tr>
            <th scope="col">Insider</th>
            <th scope="col">Relation</th>
            <th scope="col">Last Date</th>
            <th scope="col">Transaction Type</th>
            <th scope="col">OwnerType</th>
            <th scope="col">Shares Traded</th>
            <th scope="col">Last Price</th>
            <th scope="col">Shares Held</th>
          </tr>
        </thead>
        <tbody>
          {% for trade in object_list %}
            <tr>
              <td><a href="#">{{ trade.insider_relation.insider }}</a></td>
              <td>{{ trade.insider_relation.get_position_display }}</td>
              <td>{{ trade.last_date|date:"m/d/Y" }}</td>
              <td>{{ trade.transaction_type }}</td>
              <td>{{ trade.get_owner_type_display }}</td>
              <td>{{ trade.shares_traded|intcomma }}</td>
              <td>{{ trade.last_price|intcomma }}</td>
              <td>{{ trade.shares_held|intcomma }}</td>
            </tr>
          {% endfor %}
        </tbody>
      </table>
    </div>
  </div>

{% endblock content %}

